<template>
  <q-page class="flex flex-center">
    <div class="fixed-top-left q-mt-md q-ml-md">
      <q-btn icon="fas fa-arrow-left" round :to="{ name: 'index' }" />
      <q-btn icon="fas fa-folder-open" round @click="dialogImport = true" class="q-ml-lg" />
      <q-btn icon="fas fa-save" round @click="save" />
    </div>
    <q-drawer v-model="rightPanel" side="right" elevated>
      <menu-blueprints />
    </q-drawer>
    <q-page-sticky position="right" :offset="[10,10]">
      <q-btn :icon="rightPanel ? 'fas fa-chevron-right': 'fas fa-chevron-left'" round
             @click="rightPanel = !rightPanel" />
    </q-page-sticky>
    <div class="q-gutter-lg">
      <div class="row flex flex-center">
        <q-btn
          label="Création d'un objet"
          icon="fas fa-hammer"
          @click="showFormBlueprint('item')"
        />
      </div>
      <div class="row flex flex-center">
        <q-btn
          label="Création d'un objet placeable"
          icon="fas fa-hand-paper"
          @click="showFormBlueprint('placeable')"
        />
      </div>
      <div class="row flex flex-center">
        <q-btn
          label="Création d'une créature"
          icon="fab fa-qq"
          @click="showFormBlueprint('actor')"
        />
      </div>
    </div>
    <q-dialog v-model="dialogBlueprint" persistent>
      <q-card class="bg-grey-5" style="width: 800px">
        <form-items v-if="typeBlueprintSelect === 'item'" @close="dialogBlueprint = false" />
        <form-placeable v-if="typeBlueprintSelect === 'placeable'" @close="dialogBlueprint = false" />
        <form-actor v-if="typeBlueprintSelect === 'actor'" @close="dialogBlueprint = false" />
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialogImport">
      <q-card class="bg-grey-5" style="width: 800px">
        <q-card-section class="q-pa-md">
          <ImportFile @readFile="readFile" :format="'brut'" />
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Importer" @click="importer" />
          <q-btn flat label="Close" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>

import FormItems from 'components/forms/FormItems'
import FormPlaceable from 'components/forms/FormPlaceable'
import FormActor from 'components/forms/FormActor'
import blueprintsMixin from 'src/mixins/blueprintsMixin'
import ImportFile from 'components/importFile'
import techMixin from 'src/mixins/techMixin'
import MenuBlueprints from 'components/menuBlueprints'

export default {
  name: 'PageBlueprints',
  mixins: [blueprintsMixin, techMixin],
  components: {
    MenuBlueprints,
    ImportFile,
    FormActor,
    FormPlaceable,
    FormItems
  },
  data () {
    return {
      blueprints: null
    }
  },
  async mounted () {
    await this.load()
  },
  methods: {
    showFormBlueprint (type, blueprint = null) {
      if (type === 'item') {
        // Spone dialogue 4 choix
      }
      if (type) {
        this.typeBlueprintSelect = type
        this.dialogBlueprint = true
        this.selectBlueprint = blueprint
      }
    },
    readFile ({ data }) {
      this.blueprints = data
    },
    importer () {
      this.updateBlueprints(JSON.parse(this.blueprints))
      this.dialogImport = false
    }
  }
}
</script>
