<template>
  <q-file outlined bottom-slots v-model="importFile" label="Votre fichier" counter style="width: 400px"
          @input="readFile">
    <template v-slot:prepend>
      <q-icon name="cloud_upload" @click.stop />
    </template>
    <template v-slot:hint>
      Import fichier
    </template>
  </q-file>
</template>

<script>
export default {
  name: 'importFile',
  props: {
    format: {
      type: String,
      default: 'csv'
    }
  },
  data () {
    return {
      importFile: null
    }
  },
  methods: {
    _csvToArray (data) {
      const aData = []
      const lignes = data.split('\n')
      for (const ligne of lignes) {
        if (ligne !== '') {
          aData.push(ligne.replace(/\n|\r/g, '').split(','))
        }
      }
      return aData
    },

    extractDataFromBlob () {
      return new Promise(resolve => {
        const fr = new FileReader()
        fr.addEventListener('load', event => {
          resolve(event.target.result)
        })
        fr.readAsText(this.importFile)
      })
    },

    async readFile () {
      const data = await this.extractDataFromBlob(this.importFile)
      this.$emit('readFile', { data: this.format === 'csv' ? this._csvToArray(data) : data })
    }
  }
}
</script>

<style scoped>

</style>
