<template>
  <div id="q-app" class="theme" data-theme="gray">
    <router-view />
    <div class="fixed-bottom-left q-ma-xs e-mud-version">v{{ version }}</div>
  </div>
</template>
<script>
import { version } from '../package.json'

export default {
  name: 'App',
  data () {
    return {
      version
    }
  },
  mounted () {
    this.$i18n.locale = 'fr'
    if (!process.env.DEBUGGING) {
      window.addEventListener('beforeunload', function (e) {
        const confirmationMessage = 'Les modifications que vous avez apportées ne seront peut-être pas enregistrées.'
        e.returnValue = confirmationMessage
        return confirmationMessage
      })
    }
  }
}
</script>

<style scoped>
.e-mud-version {
  font-size: 0.8em;
  opacity:   50%;
}
</style>
