<template>
  <q-form @submit="submitForm">
    <q-card-section class="row items-center q-pb-none">
      <div class="text-h6">
        {{ form.id ? 'Modification de l\'' : 'Création d\'un nouvel' }} objet
      </div>
      <q-space />
      <q-btn icon="close" flat round dense v-close-popup />
    </q-card-section>
    <q-separator class="q-mt-md" />
    <q-card-section>
      <div class="row">
        <q-checkbox
          dense
          v-model="form.identified"
          label="Objet indentifié"
          class="col text-black"
          color="black"
        />
        <q-select
          class="col q-ml-md"
          outlined
          dense
          v-model="form.subtype"
          label="Objet de base"
          option-label="name"
          :options="getSubtypesNames"
          :rules="[v => v.length > 0 || 'Obligatoire *']"
        />
      </div>
      <div class="row">
        <q-input
          dense
          class="col q-mb-xs"
          outlined
          v-model="form.name"
          label="Nom de l'objet"
          :rules="[v => v.length > 0 || 'Obligatoire *']"
        />
        <q-input
          dense
          :disable="form.identified"
          class="col q-ml-md"
          outlined
          v-model="form.uname"
          label="Nom de l'objet non indentifié"
          :rules="[v => v.length > 0 || 'Obligatoire *']"
        />
      </div>
      <div class="row q-mb-lg">
        <q-input
          dense
          class="col"
          outlined
          type="textarea"
          v-model="form.descPlaintText"
          label="Description"
        />
        <q-input
          dense
          :disable="form.identified"
          class="col q-ml-md"
          outlined
          type="textarea"
          v-model="form.udescPlaintText"
          label="Description de l'objet non identifié"
        />
      </div>
      <div class="row">
        <q-input
          dense
          class="col"
          outlined
          v-model="form.tag"
          label="Tag"
        />
        <q-input
          dense
          class="col q-ml-md"
          v-model.number="form.weight"
          type="number"
          outlined
          label="Poids"
          step="0.1"
          min="0"
        />
      </div>
    </q-card-section>
    <q-separator />
    <q-card-section>
      <div class="text-black q-ml-xs">
        <div class="row">
          <q-checkbox
            v-model="form.stackable"
            color="black"
            dense
            @input="resetInventory"
            label="Stackable"
          />
        </div>
        <div class="row">
          <q-checkbox
            dense
            v-model="form.inventory"
            color="black"
            @input="resetStackable"
            label="Possède un inventaire"
          />
        </div>
        <div class="row">
          <q-checkbox
            class="col"
            dense
            :disable="!form.inventory"
            v-model="form.lock.locked"
            color="black"
            label="Verrouillé"
            @input="resetLocked"
          />
        </div>
        <div class="row">
          <q-checkbox
            class="col"
            dense
            :disable="!form.lock.locked"
            v-model="form.lock.discardKey"
            color="black"
            label="Suppression de la clé après ouverture"
          />
        </div>
      </div>
    </q-card-section>
    <q-card-section>
      <div class="row">
        <div class="col">
          <q-input
            class="q-ml-md"
            :disable="!form.lock.locked"
            style="width: 100px"
            v-model.number="form.lock.difficulty"
            dense
            type="number"
            outlined
            label="Difficulté"
            min="-1"
            max="99"
          />
        </div>
        <div class="col">
          <q-input
            class="q-ml-md"
            :disable="!form.lock.locked"
            style="width: 100px"
            v-model="form.lock.code"
            dense
            type="text"
            outlined
            label="Code"
            maxlength="4"
            mask="####"
            :rules="[(v => v.length === 0 || v.length === 4) || 'min 4 chiffres' ]"
          />
        </div>
        <div class="col">
          <q-input
            class="q-ml-md"
            :disable="!form.lock.locked"
            style="width: 100px"
            v-model="form.lock.key"
            dense
            type="text"
            outlined
            label="Tag clé"
          />
        </div>
      </div>
    </q-card-section>
    <q-separator />
    <q-card-actions align="right">
      <q-btn type="submit" icon="fas fa-file-download" round flat class="left"
             @click="exportJson = true" />
      <q-space />
      <q-btn :label="form.id ? 'Modifier': 'Créer'" color="black" type="submit" />
      <q-btn label="Annuler" text-color="black" v-close-popup />
      <q-btn v-if="form.id" label="Supprimer" text-color="red" @click="deleteItem" />
    </q-card-actions>
  </q-form>
</template>

<script>
import blueprintsMixin from 'src/mixins/blueprintsMixin'
import { capitalizeAll } from 'src/libs/filters'

export default {
  name: 'FormItems',
  mixins: [blueprintsMixin],
  data () {
    return {
      exportJson: false,
      form: {
        id: null,
        subtype: '',
        name: '',
        descPlaintText: '',
        uname: '',
        udescPlaintText: '',
        weight: 0,
        stackable: false,
        identified: false,
        lock: {
          locked: false,
          difficulty: 0,
          discardKey: false,
          code: '',
          key: ''
        },
        tag: '',
        inventory: false
      }
    }
  },
  mounted () {
    /**
     * Chargement d'un blueprint pour la modification
     */
    if (this.selectBlueprint) {
      this.form = {
        ...this.selectBlueprint,
        descPlaintText: this.selectBlueprint.desc.join('\n'),
        udescPlaintText: this.selectBlueprint.udesc.join('\n'),
        lock: {
          ...this.selectBlueprint.lock,
          difficulty: this.selectBlueprint.lock.difficulty === null ? -1 : this.selectBlueprint.lock.difficulty
        }
      }
    }
  },
  computed: {
    /** Récupère le nom capitalisé avec des espaces */
    getSubtypesNames () {
      return this.getRefSubtypes.items.map(s => capitalizeAll(this.$t(s), '_'))
    }
  },
  methods: {
    /**
     * Réinitialise "Stackable" ou "Verrouillage"
     */
    resetStackable () {
      if (this.form.inventory) {
        this.form.stackable = false
      } else {
        this.form.lock.locked = false
        this.resetLocked()
      }
    },
    /**
     * Réinitialise "inventaire" + "vérrouillage"
     */
    resetInventory () {
      if (this.form.stackable) {
        this.form.inventory = false
        this.form.lock.locked = false
        this.resetLocked()
      }
    },
    /**
     * Réinitialise "verrouillage"
     */
    resetLocked () {
      if (!this.form.lock.locked) {
        this.form.lock.discardKey = false
        this.form.lock.difficulty = 0
        this.form.lock.code = ''
        this.form.lock.key = ''
      }
    },
    /**
     * Envoi du formulaire
     * @returns {Promise<void>}
     */
    async submitForm () {
      const blueprint = await this.submitItem(this.form)
      this.selectBlueprint = null
      this.$emit('close')
      // Si export JSON
      if (this.exportJson) {
        await this.exportBlueprint(blueprint)
        this.exportJson = false
      }
    },
    async deleteItem () {
      this.$q.dialog({
        message: this.$t('CONFIRM_DELETE_BP'),
        dark: true,
        persistent: true,
        ok: {
          label: this.$t('YES'),
          color: 'grey-10'
        },
        cancel: {
          label: this.$t('NO'),
          color: 'grey-5',
          textColor: 'grey-10'
        }
      }).onOk(() => {
        this.removeBlueprint(this.form)
        this.$emit('close')
      })
    }
  }
}
</script>

<style scoped>

</style>
